@font-face {
  font-family: conteScript;
  src: url("../../assets/fonts/conte_script/ContéScriptReduced.ttf");
}
.header {
  position: relative;
  top: 66px;
  width: 100%;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  padding: 5px 0;
  /* gap: 180px; */
  /* background-color: rgba(0, 0, 0, 0.219); */
}

.herogroup {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

.heroDescrition {
  display: flex;
  flex-direction: column;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* border-bottom: 3px solid red; */
  /* animation: spin 1s linear infinite; */
}

.hero::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* background-color: #2d5f61; */
  border-bottom: 5px solid rgb(18, 153, 130);
  animation: spin 5s linear infinite;
  /* padding: 5px; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-bottom: 5px solid #da8320dc;
  }

  50% {
    border-bottom: 5px solid #203cdadc;
  }
  75% {
    border-bottom: 5px solid #da2077dc;
  }
  100% {
    transform: rotate(360deg);
    border-bottom: 5px solid #45da20dc;
  }
}

.heroDescrition {
  width: 350px;
}

.heroDescrition p {
  border-left: 3px double #2d5f61;
  padding-left: 20px;
  font-size: 16px;
  /* text-align: center; */
  line-height: 26px;
  font-weight: 400;
  color: var(--text-color); /* black */
  font-style: oblique;
}
.heroDescrition p .introText {
  border-left: 3px solid #2d5f61;
  display: block;
  padding: 10px;
  font-size: 1.6em;
  font-weight: 600;
  width: fit-content;
  /* height: 400px; */
  padding-left: 10px;
  margin-bottom: 13px;
  background: linear-gradient(125deg, #67c2c598, #30b0b4ce);
  /* animation: text 0.5s alternate; */
}

.heroDescrition p .introText span {
  width: 100%;
  height: 100%;
  background: url("../../assets/text.webp");
  background-size: cover;
  background-clip: text;
  color: transparent;
}

.expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  gap: 70px;
}

.expertise div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.expertise div img {
  width: 40px;
}

.expertise div:nth-child(3) img {
  height: 35px;
}
.expertise div:nth-child(2) {
  width: 1px;
  height: 70%;

  background-color: #9095a0ff;
}

.expertise div p {
  width: 200px;
  text-align: center;
  font-family: Josefin Sans; /* Body */
  font-size: 14px;
  font-weight: 400;
  color: #9095a0ff; /* neutral-500 */
}

@media (max-width: 900px) {
  .herogroup {
    flex-direction: column-reverse;

    /* border: 1px solid red; */
    gap: 40px;
    /* justify-content: space-between; */
  }

  .heroDescrition p .introText {
   
    font-size: 1.3em;
    
  }

  

  .expertise {
    gap: 5px;
    top: 37px;
  }

  .expertise div {
    gap: 10px;
  }

  .expertise div img {
    width: 35px;
  }
  .expertise div p {
    width: 160px;

    font-size: 13px;
  }

  .expertise div:nth-child(3) img {
    height: 35px;
  }
  .expertise div:nth-child(2) {
    width: 1px;
    height: 65%;
  }
}
