.highlightSection {
  width: 100%;
  position: relative;
  top: 66px;
  margin-top: 40px;
  height: fit-content;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2d5f61;
}

.highlightSection div {
  width: 80%;
}

.resumeBtn {
  width: min(300px, 80%);
  height: 50px;
  background-color: #8bebeef3;
  border: none;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* color: ; */
}

.resumeBtn svg {
  /* width: 30px; */
  /* color: ; */
}

.touchsection {
  width: 100%;
  position: relative;
  top: 66px;
  margin-top: 10px;
}

.touchGroup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 50px;
  /* background-color: #2d5f61; */
  /* border: 1px solid; */
  width: 80%;
}
.highlightSvg {
  width: min(100%, 400px);
  height: 350px;
}
.touch p {
  /* color: var(--text-colorDark); */
}

h2,
h4 {
  color: #56b5b8ec;
}
.keyHighlight {
}

.keyHighlight ul {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 30px;
}

.keyHighlight ul li:first-of-type,
.keyHighlight ul li:nth-of-type(3),
.keyHighlight ul li:nth-of-type(5) {
  list-style-position: inside;
  padding-left: 10px;
  border-left: 2px solid #2d5f61;
  /* align-self: flex-start; */
}

.keyHighlight ul li:nth-of-type(2),
.keyHighlight ul li:nth-of-type(4) {
  list-style-position: inside;
  padding-right: 10px;
  border-right: 2px solid #56b5b8ec;
  text-align: right;
  /* align-self: flex-end; */
}
.keyHighlight ul li {
  color: var(--text-colorDark);

  width: min(100%, 450px);
  list-style-image: url("../../assets/icons/gear-complex-code0.svg");
  font-size: 0.9em;
}
